/*
 * Author:	  Roland Galibert
 * Date:	  February 11, 2016
 * For:	  	  CSCI E-15 Dynamic Web Applications, Spring 2016 - Project 1
 * Purpose:  	  Basic web page created and pushed to live server and Github (see Project 1 specifications for details)
 */

body {
        background-image: url(../images/pageBackground.jpg);
        background-repeat: repeat;
        text-align: center;
        font-family: Hanzel, Geneva,Arial,Helvetica,sans-serif;
}

h1 {
        font-size: 28px;
}

h2 {
        
}

div.pageContainer {
        margin: 0 auto;
        text-align: left;
}

table.intro {
	border-top-style: double;
	border-bottom-style: double;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-color: #cc0033;
	border-bottom-color: #cc0033;
}

td.myPic {
        padding: 20px;
}

td.intro {
        width: 800px;
}

table.projectLinks {
        padding-top: 10px;
        padding-bottom: 10px;
}

th.projectName {
        width: 100px;
        text-align: center;
}

th.liveLink {
        width: 250px;
        text-align: center;
}

th.githubLink {
        width: 250px;
        text-align: center;
}

td.projectName {
        text-align: center;
}

td.liveLink {
        text-align: center;
}

td.githubLink {
        text-align: center;
}
